
<div class="edit-restaurant-admin"> <!-- css class needs to be changed -->
  <div class="">
    <div class="page-header color-blue-title">
      <h1>New Collection</h1>
    </div>
    <div class="page_content info">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Info</a></li>
        
      </ul>
      <div class="tab-content">
        <div class="tab-pane active edit_profile" id="tab1">
          <%= render 'collection_form' %>
        </div>
        
      </div>
    </div>
  </div>
</div>