// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userpnl{
  .user-menu{
    .dropdown-menu{ position: absolute; top: 65%; padding: 0;left: -138px;
      min-width: 205px;
      li > a{ text-transform: capitalize;}
    }
    .dropdown-toggle{ text-decoration: none;
      
    }
    .user-dropmenu{ color: #fff;}
  }
}
.white{
  .userpnl{
    .user-menu{
      
      .user-dropmenu{ color: #0D5DA0;}
    }
  }
}
.favorite_tab{
  .img_bounder{ padding-right: 20px; width: 170px;
    .image-cover{ width: 100%;}
  }
}
.profile-page{ 
  padding: 20px 20px 0 20px;
  i.star{ color: red; padding: 0 2px;}
  .rating-star{ padding-left: 10px;}
  .row_restaurants{
    margin-bottom: 10px;
    .row_restaurant_image{
      position: relative;
      .image-favorite {
        position: absolute;
        top: -1px;
      }
    }
  }
  #personal_info_form{
    .form-control{
      width: 270px;
    }
  }
  .all_my_reviews{
    .reviewed_text{
      word-break: break-word; 
      padding-top: 5px;
      padding-right: 30px;
      text-align: justify;
    }
    .column_reviews{ 
      padding-bottom: 10px;
      .avatar img{
        width: 60px;
        height: 57px;
      }
      .not-yet-approved-reply{
        background-color: #F0F8FF;
        padding: 5px 0;
      }
      .reviewed_time {
        font-size: 12px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      .rating_box {
        margin-top: 20px;
        margin-bottom: 15px;
        position: relative;
        display: block;
      }
      #border-quality {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
      }
      .label_stars {
        margin-right: 8px;
        float: left;
      }
      .stars_color i.star{
        color: #d90018;
        letter-spacing: 1px;
        padding: 0px;
      }
    }
  }
}
.restaurant-list-dropdown{
  width: 100%;
}
.edit_user{
  .field_with_errors{
    label.message{
      display: none;
    }
  }
  #error_explanation{
    ul{ padding: 0;}
    li{ list-style: none; color: #cc743a;}
  }
}
