
<p> Dear <%= @restaurant_email %> </p>
<p> Your restaurant's offer has rejected by admin, that has content : 
  <span>
    <%= @message %>
  </span>
</p>
<p> Please check it again. </p>
<p> If you have any question, contact with us please.</p>
<p> This email send by halalgems system, so you don't reply this email.</p>