<p>Dear <%= @email %>,</p>
<p>Unfortunately your changing for <b><%= @restaurant.name %></b> was not accepted by our admin team. There could be several reasons for this, most of which are outlined in the Community rules here <%= terms_conditions_url %>.</p>
<p><%= @message %> </p>
<p>Yours,<br>
<span>Sara</span> halalgems admin team.</p>

