/* Header */
#manager-header {
  background-color: #000;
  height: 80px;
  width: 100%; }
  #manager-header .manager-header-table {
    display: table;
    margin: 0 auto;
    height: 100%; }
    #manager-header .manager-header-table ul {
      list-style-type: none;
      text-align: center;
      height: 100%;
      min-width: 639px;
      margin: 0;
      padding: 0; }
      #manager-header .manager-header-table ul li {
        border-right: 1px solid #2d2d2d;
        display: inline;
        float: left;
        height: 100%; }
        #manager-header .manager-header-table ul li a {
          display: block;
          width: 100%;
          height: 100%;
          font-family: 'Open Sans Light';
          color: #fff;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 29px; }
      #manager-header .manager-header-table ul li:first-child {
        border-left: 1px solid #2d2d2d; }
      #manager-header .manager-header-table ul li:hover {
        background-color: #a5b0af;
        cursor: pointer; }
  @media all and (max-width: 700px) {
    #manager-header {
      height: 200px; }
      #manager-header .manager-header-table {
        display: block;
        margin: 0;
        width: 100%; }
        #manager-header .manager-header-table ul {
          min-width: 0;
          width: 100%; }
          #manager-header .manager-header-table ul li {
            height: 40px;
            float: none;
            display: list-item;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #2d2d2d; }
            #manager-header .manager-header-table ul li a {
              padding-top: 9px; }
          #manager-header .manager-header-table ul li:first-child {
            border-left: none;
            border-top: 1px solid #2d2d2d; } }

#restaurant-info {
  background-color: #37383a;
  height: 120px;
  width: 100%;
  padding-left: 30px; }
  #restaurant-info h2 {
    font-family: OldStandard_Italic;
    font-size: 40px; }
  #restaurant-info h4 {
    color: #d2c5af; }
  #restaurant-info .right-container {
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px; }
    #restaurant-info .right-container .dropdown-menu {
      min-width: 100%; }
    #restaurant-info .right-container button {
      min-width: 90%;
      background: none;
      cursor: pointer;
      border: none;
      margin: 0px;
      padding: 0px;
      font-family: OldStandard_Italic;
      font-size: 20px;
      color: #fff; }
    #restaurant-info .right-container .caret {
      border-top-color: white; }
  @media all and (max-width: 1000px) {
    #restaurant-info {
      padding-left: 0px;
      padding-top: 10px;
      padding-bottom: 30px;
      height: auto;
      display: inline-block; } }

/* GENERAL */
h1 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  color: #d2c5af; }

.manager-container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px; }

.info-box h3 {
  font-family: OldStandard_Italic;
  color: #a5b0af;
  font-size: 26px; }

@media all and (max-width: 1000px) {
  .row {
    margin: 0; }

  .manager-container {
    padding-left: 5px;
    padding-right: 5px; } }
/* STATISTICS */
a.stat-button {
  font-family: OldStandard_Italic;
  text-decoration: underline;
  color: #fff;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Line chart */
.line-chart-legend {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 5px; }

@media all and (max-width: 570px) {
  .line-chart-title {
    margin-bottom: 30px; }

  .line-chart-legend {
    top: 35px;
    left: 10px; } }
/* Sectional chart */
.bar-chart-legend {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 5px; }

@media all and (max-width: 570px) {
  .bar-chart-title {
    margin-bottom: 30px; }

  .bar-chart-legend {
    top: 35px;
    left: 10px; } }
/* Overlay */
#overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5); }

#overlay div.modal-dialogue {
  color: #fff;
  display: inline-block;
  margin-top: 20vh;
  background-color: #37383a;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 40px; }
.quick-stats table {
  width: 100%; }
#offers-and-deals-wrapper {
  position: relative; }
  #offers-and-deals-wrapper form {
    background-color: rgba(0, 0, 0, 0); }
  #offers-and-deals-wrapper table {
    width: 100%; }
    #offers-and-deals-wrapper table .default-btn {
      padding: 0px 25px;
      width: 95%;
      text-align: center; }

.offer-time-select .btn-group {
  float: left;
  width: 40% !important; }
  .offer-time-select .btn-group button {
    background: #fff; }
.offer-time-select p {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px; }

.disabled-panel {
  display: none;
  visibility: hidden; }

.offer-panel label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px; }

.preview-image {
  max-width: 300px; }
dl.restaurant-info-box dd {
  margin-bottom: 12px; }
#review-pane {
  width: 100%;
  height: 720px;
  padding: 20px 20px 20px 20px;
  background-color: #37383a;
  overflow-x: hidden;
  overflow-y: auto; }
  #review-pane .default-btn {
    text-transform: none; }

.user-name-title {
  font-family: "Open Sans";
  font-size: 36px;
  display: inline-block; }

.review-user-avatar {
  width: 175px;
  height: 175px;
  margin-bottom: 20px; }

.user-information span.user-information-title {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px; }
.user-information ul {
  list-style-type: none;
  padding: 0; }

.review-rating-title {
  margin-bottom: 5px; }

.review-star {
  width: 25px; }

#email-box {
  width: 100%;
  height: 114px;
  background-color: #fff;
  margin-bottom: 10px; }

/* Are you sure */
#are-you-sure-dialogue a {
  font-family: OldStandard_Italic;
  font-size: 20px;
  color: white;
  margin: 5px; }

#reply_row .not-yet-approved-reply {
  color: #fff;
  background-color: transparent;
  font-weight: bold; }
#review-list {
  float: left;
  width: 560px; }

#review-panel {
  float: left;
  width: 800px; }

a {
  cursor: pointer; }
/* Latest ratings */
table.latest-ratings {
  width: 100%; }

.see-review-link {
  font-family: OldStandard_Italic;
  text-decoration: underline;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.see-review-link:hover {
  color: #fff; }

.show-more-button {
  font-family: OldStandard_Italic;
  text-decoration: underline;
  color: #fff;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.show-more-button:hover {
  color: #fff; }

.latest-ratings-container {
  max-height: 460px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

table.latest-ratings thead th {
  opacity: 1; }
table.latest-ratings thead th:nth-child(5) {
  display: none; }
table.latest-ratings thead th:nth-child(6) {
  display: none; }
table.latest-ratings thead th:nth-child(7) {
  display: none; }
table.latest-ratings tbody td:nth-child(5) {
  display: none; }
table.latest-ratings tbody td:nth-child(6) {
  display: none; }
table.latest-ratings tbody td:nth-child(7) {
  display: none; }

@media all and (max-width: 600px) {
  table.latest-ratings tbody td:nth-child(1) {
    font-size: 12px; }
  table.latest-ratings tbody td:nth-child(8) {
    font-size: 12px; }
  table.latest-ratings .latest_review_star {
    width: 18px; } }
@media all and (max-width: 530px) {
  table.latest-ratings tbody td:nth-child(1) {
    font-size: 10px; }
  table.latest-ratings tbody td:nth-child(8) {
    font-size: 10px; }
  table.latest-ratings .latest_review_star {
    width: 16px; } }
@media all and (max-width: 470px) {
  table.latest-ratings .latest_review_star {
    width: 12px; } }
@media all and (max-width: 420px) {
  table.latest-ratings .latest_review_star {
    width: 10px; } }
@media all and (max-width: 375px) {
  table.latest-ratings thead th:nth-child(2) {
    display: none; }
  table.latest-ratings thead th:nth-child(3) {
    display: none; }
  table.latest-ratings thead th:nth-child(4) {
    display: none; }
  table.latest-ratings thead th:nth-child(5) {
    display: table-cell; }
  table.latest-ratings thead th:nth-child(6) {
    display: table-cell; }
  table.latest-ratings thead th:nth-child(7) {
    display: table-cell; }

  table.latest-ratings thead {
    font-size: 12px; }
  table.latest-ratings tbody td:nth-child(2) {
    display: none !important; }
  table.latest-ratings tbody td:nth-child(3) {
    display: none !important; }
  table.latest-ratings tbody td:nth-child(4) {
    display: none !important; }
  table.latest-ratings tbody td:nth-child(5) {
    display: table-cell !important; }
  table.latest-ratings tbody td:nth-child(6) {
    display: table-cell !important; }
  table.latest-ratings tbody td:nth-child(7) {
    display: table-cell !important; } }
@media all and (max-width: 340px) {
  table.latest-ratings thead th:nth-child(2) {
    display: none; }
  table.latest-ratings thead th:nth-child(3) {
    display: none; }
  table.latest-ratings thead th:nth-child(4) {
    display: none; }
  table.latest-ratings thead th:nth-child(5) {
    display: table-cell; }
  table.latest-ratings thead th:nth-child(6) {
    display: table-cell; }
  table.latest-ratings thead th:nth-child(7) {
    display: table-cell; } }
/* Review-list */
table.review-list {
  width: 100%; }

.review-list-star {
  width: 12px; }

.review-list-container {
  height: 670px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

table.review-list tbody tr:hover {
  background-color: gray; }
table.review-list tr.owner-has-read {
  opacity: 0.5; }
table.review-list tr.selected-review {
  background-color: #a4b1b1; }
table.review-list thead th {
  opacity: 1; }
table.review-list thead th:nth-child(1) {
  padding-left: 5px; }
table.review-list thead th:nth-child(5) {
  display: none; }
table.review-list thead th:nth-child(6) {
  display: none; }
table.review-list thead th:nth-child(7) {
  display: none; }
table.review-list tbody td:nth-child(1) {
  padding-left: 5px; }
table.review-list tbody td:nth-child(5) {
  display: none; }
table.review-list tbody td:nth-child(6) {
  display: none; }
table.review-list tbody td:nth-child(7) {
  display: none; }

@media all and (max-width: 600px) {
  table.review-list tbody td:nth-child(1) {
    font-size: 12px; }
  table.review-list tbody td:nth-child(8) {
    font-size: 12px; }
  table.review-list .latest_review_star {
    width: 18px; } }
@media all and (max-width: 530px) {
  table.review-list tbody td:nth-child(1) {
    font-size: 10px; }
  table.review-list tbody td:nth-child(8) {
    font-size: 10px; }
  table.review-list .latest_review_star {
    width: 16px; } }
@media all and (max-width: 470px) {
  table.review-list .latest_review_star {
    width: 12px; } }
@media all and (max-width: 420px) {
  table.review-list .latest_review_star {
    width: 10px; } }
@media all and (max-width: 375px) {
  table.review-list thead th:nth-child(2) {
    display: none; }
  table.review-list thead th:nth-child(3) {
    display: none; }
  table.review-list thead th:nth-child(4) {
    display: none; }
  table.review-list thead th:nth-child(5) {
    display: table-cell; }
  table.review-list thead th:nth-child(6) {
    display: table-cell; }
  table.review-list thead th:nth-child(7) {
    display: table-cell; }

  table.review-list thead {
    font-size: 12px; }
  table.review-list tbody td:nth-child(2) {
    display: none !important; }
  table.review-list tbody td:nth-child(3) {
    display: none !important; }
  table.review-list tbody td:nth-child(4) {
    display: none !important; }
  table.review-list tbody td:nth-child(5) {
    display: table-cell !important; }
  table.review-list tbody td:nth-child(6) {
    display: table-cell !important; }
  table.review-list tbody td:nth-child(7) {
    display: table-cell !important; } }
@media all and (max-width: 340px) {
  table.review-list thead th:nth-child(2) {
    display: none; }
  table.review-list thead th:nth-child(3) {
    display: none; }
  table.review-list thead th:nth-child(4) {
    display: none; }
  table.review-list thead th:nth-child(5) {
    display: table-cell; }
  table.review-list thead th:nth-child(6) {
    display: table-cell; }
  table.review-list thead th:nth-child(7) {
    display: table-cell; } }
@media all and (max-width: 1200px) {
  .review-list-container {
    height: 300px; }

  .review-list-columns {
    margin-bottom: 20px; } }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
