<h2 class="title"><%=t :dashboard_title %></h2> <!--Page title-->
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-toggle="tab" href="#home"><i class="icon-map-marker"></i>New restaurants</a></li>
    <li class=""><a data-toggle="tab" href="#profile"><i class="icon-comment"></i>New reviews</a></li>
    <li class=""><a data-toggle="tab" href="#user"><i class="icon-user"></i>New users</a></li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div id="home" class="tab-pane fade active in">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th width="13px"><input type="checkbox"></th>
            <th>#</th>
            <th>Restaurant name</th>
            <th>Address</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>10:57 AM Sep 04, 2012</td>
            <td>
              <a href="#" title="approve"><i class="icon-ok"></i></a>
              <a href="#" title="reject"><i class="icon-remove"></i></a>
              <a href="#" title="view"><i class="icon-eye-open"></i></a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>10:57 AM Sep 04, 2012</td>
            <td>
              <a href="#" title="approve"><i class="icon-ok"></i></a>
              <a href="#" title="reject"><i class="icon-remove"></i></a>
              <a href="#" title="view"><i class="icon-eye-open"></i></a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>3</td>
            <td>Larry the Bird</td>
            <td>Address</td>
            <td>10:57 AM Sep 04, 2012</td>
            <td>
              <a href="#" title="approve"><i class="icon-ok"></i></a>
              <a href="#" title="reject"><i class="icon-remove"></i></a>
              <a href="#" title="view"><i class="icon-eye-open"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="profile" class="tab-pane fade">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th width="13px"><input type="checkbox"></th>
            <th>#</th>
            <th>Review</th>
            <th>User</th>
            <th>Restaurant</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>This is review</td>
            <td>Otto</td>
            <td>restaurant</td>
            <td>10:57 AM Sep 04, 2012</td>
            <td>
              <a href="#" title="approve"><i class="icon-ok"></i></a>
              <a href="#" title="reject"><i class="icon-remove"></i></a>
              <a href="#" title="view"><i class="icon-eye-open"></i></a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>This is review</td>
            <td>Otto</td>
            <td>restaurant</td>
            <td>10:57 AM Sep 04, 2012</td>
            <td>
              <a href="#" title="approve"><i class="icon-ok"></i></a>
              <a href="#" title="reject"><i class="icon-remove"></i></a>
              <a href="#" title="view"><i class="icon-eye-open"></i></a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>This is review</td>
            <td>Otto</td>
            <td>restaurant</td>
            <td>10:57 AM Sep 04, 2012</td>
            <td>
              <a href="#" title="approve"><i class="icon-ok"></i></a>
              <a href="#" title="reject"><i class="icon-remove"></i></a>
              <a href="#" title="view"><i class="icon-eye-open"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="user" class="tab-pane fade">
      User
    </div>
  </div>
  </div>
