
<div class="pnl_img_top">
    <%= random_image_other_page %>
</div>
<div class="auto_height basic-page">
  <div class="page">
  	<i class="back_button"></i>
    <%= back_to_search %>
    
    <h1 class="title-page">FAQ's <span style="font-weight: normal;">(Frequently Asked Questions)</span></h1>
    <div class="page_content faq_content">
      <%= render partial: "page_content", locals: {page:@page}%>
    </div>
  </div>
</div>