<div class="auto_height basic-page registered_page info">
  <div class="page">  
    <i class="back_button"></i>
    <%= back_to_search %>
    <h1 class="title-page"><%=t("layout.advertise_your_restaurant")%></h1>
    <div class="page_content">
      <div class="thanks_signup">
        <div style="text-align: center;">
          <h1 style="text-align: center;">Thank you for signing up!</h1>
          <br/>
          <div style="text-align: center;">Check your email to complete registration</div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
