.marker{
  background: image-url('map_marker.png') no-repeat;
  height: 50px;
  width: 38px;
}
.m1{background-position: 0px 0px;}
.m1:hover{background-position: -40px 0px;}
.m2{background-position: 0px -50px;}
.m2:hover{background-position: -40px -50px;}
.m3{background-position: 0px -101px;}
.m3:hover{background-position: -40px -101px;}
.m4{background-position: 0px -152px;}
.m4:hover{background-position: -40px -152px;}
.m5{background-position: 0px -203px;}
.m5:hover{background-position: -40px -203px;}
.m6{background-position: 0px -254px;}
.m6:hover{background-position: -40px -254px;}
.m7{background-position: 0px -305px;}
.m7:hover{background-position: -40px -305px;}
.m8{background-position: 0px -357px;}
.m8:hover{background-position: -40px -357px;}
.m9{background-position: 0px -409px;}
.m9:hover{background-position: -40px -409px;}
.m10{background-position: 0px -460px;}
.m10:hover{background-position: -40px -460px;}
.m11{background-position: 0px -512px;}
.m11:hover{background-position: -40px -512px;}
.m12{background-position: 0px -564px;}
.m12:hover{background-position: -40px -564px;}
.m13{background-position: 0px -616px;}
.m13:hover{background-position: -40px -616px;}
.m14{background-position: 0px -668px;}
.m14:hover{background-position: -40px -668px;}
.m15{background-position: 0px -720px;}
.m15:hover{background-position: -40px -720px;}
.m16{background-position: 0px -771px;}
.m16:hover{background-position: -40px -771px;}
.m17{background-position: 0px -823px;}
.m17:hover{background-position: -40px -823px;}
.m18{background-position: 0px -875px;}
.m18:hover{background-position: -40px -875px;}
.m19{background-position: 0px -927px;}
.m19:hover{background-position: -40px -927px;}
.m20{background-position: 0px -978px;}
.m20:hover{background-position: -40px -978px;}
.m21{background-position: 0px -1030px;}
.m21:hover{background-position: -40px -1030px;}
.m22{background-position: 0px -1082px;}
.m22:hover{background-position: -40px -1082px;}
.m23{background-position: 0px -1134px;}
.m23:hover{background-position: -40px -1134px;}
.m24{background-position: 0px -1186px;}
.m24:hover{background-position: -40px -1186px;}
.m25{background-position: 0px -1237px;}
.m25:hover{background-position: -40px -1237px;}
.m26{background-position: 0px -1289px;}
.m26:hover{background-position: -40px -1289px;}
.m27{background-position: 0px -1341px;}
.m27:hover{background-position: -40px -1341px;}
.m28{background-position: 0px -1393px;}
.m28:hover{background-position: -40px -1393px;}
.m29{background-position: 0px -1444px;}
.m29:hover{background-position: -40px -1444px;}
.m30{background-position: 0px -1496px;}
.m30:hover{background-position: -40px -1496px;}
